
<div class="grid grid-cols-1 lg:grid-cols-2 m-4 gap-8">
    <%= render :template => "item/_carousal", :locals => { :images => @item[:images] } %>

    <div class="flex flex-col">
        <h3 class="text-4xl">  <%= @item[:name] %> </h3>
        <span>
            Item code: <span class="text-primary-dark font-bold"><%= @item[:id] %></span>
        </span>
        <span class="flex flex-col mt-6">
            <span class="text-xl">Description:</span>
            <span class="text-gray-800"><%= @item[:description] %></span>
        </span>
        <span class="flex flex-col mt-6 mb-8">
            <span class="text-xl">Want to buy?</span>
            <span class="text-gray-800">
                    Contact us via: <br>
                    - Email: exmaple@gmail.com <br>
                    - Whatsapp: 999999999 <br> 
            </span>
        </span>

        <a href="<%= @product_route%>">
            <button type="button" class="w-full text-primary-dark bg-white border border-primary  hover:border-primary-dark hover:bg-primary-dark hover:text-white focus:outline-none focus:ring-4 focus:ring-gray-200 font-medium rounded-full text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
              Look at more <%= @product_name %>
            </button>
        </a>
        
    </div>
</div>
