<div class="max-w-sm bg-neutral-400 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 my-2 mb-4 mr-6">
    <a href="<%= item_link %>">
        <img class="rounded-t-lg mx-auto h-auto" src=<%= item[:images][0] %> alt="product image">
    </a>
    <div class="px-3 pb-3 pt-3">
        <a href="<%= item_link %>">
            <h5 class="text-2xl font-medium text-gray-900 dark:text-white"><%= item[:name]%></h5>
            <span class="text-sm tracking-tight text-gray-500 dark:text-white"><%= item[:short_description]%></span>
        </a>
    </div>
</div>